/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #044c92;
  padding: 0.1rem;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

header h1,
header nav {
  flex: 1;
  padding: 0 1rem;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: #f7fdff;
}

div {
  text-align: center;
}

header h1 {
  color: #f7fdff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #f7fdff;
  flex: 1;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

img {
  width: 20%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
