.purchase-confirmation {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.confirmation-box {
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
  border-top: 0.2rem solid #004f26;
  border-bottom: 5px solid #ce2b37;
}

.confirmation-box h1 {
  color: #004f26;
  margin-bottom: 2rem;
}

.confirmation-box p {
  margin-bottom: 2rem;
}

.btn {
  background: #004f26;
  color: #fff;
  font-weight: bold;
  margin: 0.5rem 1rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transform: scale(0.98);
  transition: 0.3s ease;
}

.btn:disabled {
  transform: scale(0.96);
  opacity: 0.5;
}

.btn:enabled:hover {
  background: rgb(1, 99, 48);
  transform: scale(1);
}

.btn:enabled:active {
  transform: scale(0.96);
  background: #004f26;
}
