footer {
  padding: 1rem;
  margin: 0;
  text-align: center;
  background-color: #044c92;
  color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

footer p {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}
