footer {
  padding: 1.5rem;
  margin: 0;
  text-align: center;
  background: linear-gradient(#ce2b37, #65161c);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

footer p {
  font-size: 0.8rem;
  margin: 0;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
