<section id="offerDetails">
  <div id="leftArea">
    <div id="offerDescription">
      <h1 id="pizzaTitle">Pizza X</h1>

      <div id="pizzaPreview" class="image-frame"><img [src]="pizzaImage" alt="Preview" /></div>
      <p id="pizzaDescription"></p>
      <p><b>Ingredientes:</b></p>
      <p id="ingredients">-</p>
      <p><b>Valor Base:</b></p>
      <p id="baseValue">R$ 0,00</p>
    </div>

    <div id="offerCustomization">
      <h2>Personalize seu pedido:</h2>
      <ng-container *ngFor="let type of ['BORDA', 'MASSA', 'MOLHO', 'EXTRA', 'SEM', 'QUEIJO_BASE']">
        <div *ngIf="getCustomizationsByType(type).length">
          <h3>{{ type }}</h3>
          <div *ngFor="let opt of getCustomizationsByType(type); let i = index">
            <label>
              <input
                [type]="opt.type === 'EXTRA' || opt.type === 'SEM' ? 'checkbox' : 'radio'"
                [name]="type"
                [value]="opt.name"
                [checked]="i === 0 && opt.type !== 'EXTRA' && opt.type !== 'SEM'"
              />
              {{ opt.name + ' (+R$ ' + opt.value + ')' }}
              <span *ngIf="opt.type === 'EXTRA'"></span>
            </label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div id="resume">
    <h2>Resumo</h2>

    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>R$</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div>Pizza</div>
          </td>
          <td class="itemValue">35,00</td>
        </tr>
        <tr>
          <td>
            <div>Becon</div>
            <button class="removeCustomization">x</button>
          </td>
          <td class="itemValue">5,00</td>
        </tr>
        <tr>
          <td colspan="2"><hr /></td>
        </tr>
        <tr>
          <td>
            <div>Subtotal</div>
          </td>
          <td class="itemValue">40,00</td>
        </tr>
      </tbody>
    </table>

    <button id="addToCart" (click)="addToCart()">Adicionar ao Carrinho</button>
  </div>
</section>
