<section id="offerDetails">
  <div id="leftArea">
    <div id="offerDescription">
      <h1 id="pizzaTitle">{{ offer?.name }}</h1>

      <div id="pizzaPreview" class="image-frame">
        <img [src]="offer?.images?.[0] || ''" alt="Preview" />
      </div>
      <p id="pizzaDescription">{{ offer?.description }}</p>
      <p><b>Ingredientes:</b></p>
      <p id="ingredients">{{ baseIngredients || '' }}</p>
      <p><b>Valor Base:</b></p>
      <p id="baseValue">R$ {{ offer?.priceBase }}</p>
    </div>

    <div id="offerCustomization">
      <h2>Personalize seu pedido:</h2>
      <ng-container *ngFor="let type of ['BORDA', 'MASSA', 'MOLHO', 'EXTRA', 'SEM', 'QUEIJO_BASE']">
        <div *ngIf="getCustomizationsByType(type).length">
          <h3>{{ type }}</h3>
          <div *ngFor="let opt of getCustomizationsByType(type)">
            <label>
              <input
                [type]="opt.type === 'EXTRA' || opt.type === 'SEM' ? 'checkbox' : 'radio'"
                [name]="type"
                [value]="opt.name"
                [checked]="isSelected(opt)"
                (change)="refreshPreviewOfCustomization(opt)"
                [required]="opt.type !== 'EXTRA' && opt.type !== 'SEM'"
              />
              {{ opt.name + ' (+R$ ' + opt.value + ')' }}
            </label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div id="summary">
    <h2>Resumo</h2>

    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>R$</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div>▸ {{ offer?.name }}</div>
          </td>
          <td class="itemValue">{{ offer?.priceBase }}</td>
        </tr>
        @for (item of customizationsSelecteds; track item){
        <tr>
          <td>
            <div>▸ {{ item.name }}</div>
            <button class="removeCustomization" (click)="removeCustomization(item)">x</button>
          </td>
          <td class="itemValue">{{ item.value }}</td>
        </tr>
        }
        <tr>
          <td colspan="2"><hr /></td>
        </tr>
        <tr>
          <td>
            <div>Subtotal:</div>
          </td>
          <td id="subtotal">R$ {{ subtotal }}</td>
        </tr>
      </tbody>
    </table>

    <button [disabled]="!isFormValid" type="button" id="addToCart" (click)="addToCart()">
      Adicionar ao Carrinho
    </button>
  </div>
</section>
